<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"></link>
    <title>Document</title>
</head>
<body>
    <h1>Todo App</h1>
    <a href="/v1/todos/addTodo">Add a Todo</a>
    <h3>Your Todos</h3>
    <ul>
        <% todos.forEach(todo => { %>
         <a href="/updateTodo/<%= todo._id %>"><li><%= todo.name %>-<%= todo.category %>-<%= todo.state %> </li></a>
        <% }) %>
    </ul>
</body>
</html>