<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login</h2>
    <form>
    <label for="email">Email</label>
    <input type="email" name="email"></input>
    <label for="password">Password</label>
    <input type="password" name="password"></input>
    <button type="submit">Login</button>
</form>
<h5>New Here? <a href="/v1/users/register">Register here</a></h5>
</body>
</html>